#intro-cards{
    height: 550px;
    width: 100%;
    margin-top: -200px;
    
    
    .container{
        display: flex;
        justify-content: space-between;
    }
}

.description{
    position: relative;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        clip-path: polygon(0 90%, 100% 20%, 100% 100%, 0 100%);
        background-color: $color-background-1;
    }

    &__paragraph{
        font-size: 22px;
        padding: 0 100px;
        text-align: justify;
    }
}

.houses{
    &__title{
        background-color: $color-background-1;
    }
}

.locations{
    height: 700px;
    background: url('/resources/images/background1.PNG') no-repeat center center/cover;
    
    #map{
        height: 500px;
        width: 80%;
        margin: 0 auto;
        border: solid white 7px;
        border-radius: 5px;
    }
}