*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: #181818;
    text-decoration: none;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    min-height: 100%;
}