@font-face{
    font-family: Aspire;
    font-style: normal;
    font-weight: 700;
    src: url('/resources/fonts/AspireDemibold.ttf');
}
@font-face{
    font-family: Youth;
    font-style: normal;
    font-weight: 700;
    src: url("/resources/fonts/Youth.ttf");
}
@font-face{
    font-family: WyntexBrasco;
    font-style: normal;
    font-weight: 700;
    src: url("/resources/fonts/WyntexBrasco.ttf");
}