// Font Variables
$font-title: 'Youth', sans-serif;
$font-heading: 'Pontano Sans', sans-serif;
$font-paragraph: 'Hind Madurai', sans-serif;

// Color Variables
$color-primary-light: #ff408c;
$color-primary: #ff1d77;
$color-primary-dark: #e61b6c;

// $color-background-1: #d8f5f1;
$color-background-1: #F2F6F9;

$color-secondary-light: #256cfa;
$color-secondary-dark: #1948a6;

$color-tertiary-light: #fc983f;
$color-tertiary-dark: #c96f20;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #666;
$color-grey-dark-3: #444;
$color-grey-dark-4: #2e2e2e;
$color-grey-dark-5: #2b2b2b;

$color-black: #000;