// Font Variables



$font-title: 'Aspire', sans-serif;
$font-heading: 'Roboto Condensed', sans-serif;
$font-paragraph: 'Roboto', sans-serif;

// Color Variables
$color-primary-light: #ff408c;
$color-primary: #ff1d77;
$color-primary-dark: #e61b6c;

$color-secondary-light: #256cfa;
$color-secondary-dark: #1948a6;

$color-tertiary-light: #fc983f;
$color-tertiary-dark: #c96f20;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #666;
$color-grey-dark-3: #444;
$color-grey-dark-4: #2e2e2e;
$color-grey-dark-5: #2b2b2b;

$color-black: #000;